// Colors
$black: #2F4858;
$dark-grey: #667077;
$grey: #B8BEC2;
$light-grey: #E3E7E9;
$soft-light: #F7F7F8;

$purple-dark: #7681A9;
$purple: #BAC1DF;
$purple-light: #F0F2FA;

$primary-dark: #2BAC95;
$primary: #31B8A0;
$primary-color: #97E0D3;
$primary-light: #E7F6F1;

$info-text: #4368C1;
$info-field: #BEDCF2;

$danger-text: #DF536C;
$danger-field: #E29898;

$warning-text: #E1A61C;
$waring-field: #FFDD82;

$header-height: 50px;
$header-height-lg: 100px;

$offset: 20px;
